{% extends 'base.html' %}
{% load static %}
{% block title %}Pewe's Story - Profile{% endblock %}
{% block style %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script src="https://kit.fontawesome.com/d1e3c3bcb7.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container" style="margin-top: 1rem;">
    <img class="pic" style="margin-top: 20px; margin-bottom: 20px;" src="{% static 'img/profl-min.jpg' %}" alt="RadhiansyaZ">
    <div id="accordion">
        <div class="acc-head">
            <button class="personal btn" href="#">Personal Information<i class="fa fa-plus"></i></button>
            <div class="btn-group">
                <a href="#" class="btn btn-light up"><i class="material-icons">arrow_upward</i></a>
                <a href="#" class="btn btn-light down"><i class="material-icons">arrow_downward</i></a>
            </div>
            <div class="content">
                <p>Fullname : Radhiansya Zain Antriksa Putra</p>
                <p>Birth Date : April 25, 2001</p>
                <p>Contact : radhiansya.zain@ui.ac.id</p>
                <p>I'm Freshman majoring in Computer Science at Faculty of Computer Science, Universitas Indonesia</p>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="acc-head">
            <button class="activity btn" href="#">Activity<i class="fa fa-plus"></i></button>
            <div class="btn-group">
                <a href="#" class="btn btn-light up"><i class="material-icons">arrow_upward</i></a>
                <a href="#" class="btn btn-light down"><i class="material-icons">arrow_downward</i></a>
            </div>
            <div class="content">
                <p>Kuliah</p>
                <p>Kuliah (iya, lagi)</p>
                <p>Nugas</p>
                <p>Apex</p>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="acc-head">
            <button class="experience btn" href="#">Experience<i class="fa fa-plus"></i></button>
            <div class="btn-group">
                <a href="#" class="btn btn-light up"><i class="material-icons">arrow_upward</i></a>
                <a href="#" class="btn btn-light down"><i class="material-icons">arrow_downward</i></a>
            </div>
            <div class="content">
                <p>Staff of Data Science Academy - COMPFEST</p>
                <p>Staff of Research and Strategic Action Department - BEM Fasilkom UI</p>
                <p>Staff of Verification and Supervision - Pemira Fasilkom UI</p>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="acc-head">
            <button class="achievement btn" href="#">Achievement<i class="fa fa-plus"></i></button>
            <div class="btn-group">
                <a href="#" class="btn btn-light up"><i class="material-icons">arrow_upward</i></a>
                <a href="#" class="btn btn-light down"><i class="material-icons">arrow_downward</i></a>
            </div>
            <div class="content">
                <p>Pecundang saya tuh, belum pernah menang apa-apa :(</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}