{% extends 'base.html' %}
{% block title %} Story 10 - Update Profile {% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    {% for message in messages %}
    <script>
      alert("{{ message }}")
    </script>
  {% endfor %}

  {% if user.is_authenticated %}
  <h1>Update Profile</h1>
  <br>
  <h2> Hi {{ user.username }}! </h2>

  <form action="" method="POST">
      {% csrf_token %}
      <label for="#username">Username</label>
      <input id="username" name="username" class="form-control" value="{{ user.username }}" type="text" required>
      <label for="#bio">Bio</label>
      <input id="bio" name="bio" class="form-control" type="text" value="{{ user.profile.bio }}">
      <label for="#image">Image Link</label>
      <input id="image" name="image" class="form-control" type="text" value="{{ user.profile.image }}">
      <br>
      <input type="hidden" name="id" value="{{ user.id }}">
      <input type="submit" value="Update Profile" class="btn btn-primary" id="update">
    </form>
{% else %}
    <h2> You haven't logged in yet </h2>
  <p> Log in to update your profile </p>
  <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
{% endif %}
</div>
{% endblock %}
