{% extends 'base.html' %}

{% block title %}Story10{% endblock %}

{% block content %}
    {% include 'navbar.html' %}
<div style="margin-top: 1em;" class="container">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            alert("{{ message }}")
        </script>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
        <h3>Selamat Datang {{ user.username }} !!</h3>
        <div class="">Bio :  {{ user.profile.bio }} </div>
        <img src="{{ user.profile.image }}">
        <br>
        <br>    
        <a id='sub-update' class="btn btn-primary" href="{% url 'profile-up' %}">Update Profile</a>
        <a id='sub-logout' class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
      {% else %}
        <h1>You are not logged in.</h1>
        <br>
        <h3>Do you have an account?</h3>
        <a id='login' class="btn btn-success" href="{% url 'login' %}">Log in</a>
        <a id='signup' class="btn btn-outline-success" href="{% url 'signup' %}">Sign up</a>
      {% endif %}

</div>
{% endblock %}