{% extends 'base.html' %}
{% block title %}Pewe's Story{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <br>
    <div class="card">
        <div class="card-body">
            <h4 style="color: black;" class="card-title">Are you sure?</h4>
            <p class="card-text"></p>
                <form action="/" method="POST">
                    {% csrf_token %}
                    <label style="color: black;">Your name</label>
                    <input type="text" class="form-control form-control-sm" name="name" value="{{ name }}" required readonly>
                    <br>
                    <label style="color: black;">Your thoughts</label>
                    <input type="text" class="form-control form-control-sm" name="content" value="{{ post }}" required readonly>    
                    <br>
                    <button type="submit" value="Submit" name="Submit" class="card-link btn btn-success">Yes, post it!</button>
                </form>
                <br>
                <form action="/" method="GET">
                    <button type="submit" value="Submit" name="Abort" class="card-link btn btn-outline-danger">Hmm</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}