{% extends 'base.html' %}

{% block title %}Pewe's Story{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container" style="margin-top: 1rem;">
    <div class="row">
        <h3 style="color: #ffff; margin-left: .5em">Post something!</h3>
    </div>
    <div class="row">
        <div class="col">
            <form action="confirm/" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark" name="Posting">Post</button>
            </form>
        </div>
    </div>
    <br>
    <div class="row container" style="width: 100%!important;">
        <div class="col">
            {% for post in posts %}
            <div class="card" style="background-color: #{{ post.color }}; margin-bottom: 10px;">
                <div class="card-body">
                    <p class="card-text text-dark">
                        {{ post.messages }}
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted font-italic" style="font-size:14px;">Posted by <strong>{{ post.name }}</strong> on {{ post.date_time }}</h6>
                    <a id="henshin" style="font-size: small; color: rgb(64, 93, 230);" href="{% url 'change' post.id %}">Change the Background!</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% endblock %}