<nav class="navbar sticky-top navbar-expand-md navbar-dark px-3 py-0" style="background: #263238;">
    <a class="navbar-brand" href="{% url 'index' %}">Pewe's Story</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto"></div>
    <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'index' %}"><strong>Home</strong></a>
            <a class="nav-item nav-link" href="{% url 'profile' %}"><strong>Profile | Accordion</strong></a>
            <a class="nav-item nav-link" href="{% url 'books' %}"><strong>Books</strong></a>
            <a class="nav-item nav-link" href="{% url 'index10' %}"><strong>Authenticate</strong></a>
            <div class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Story</strong>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="http://radhiansya.herokuapp.com/" target="_blank">sebelumnya.</a>
              </div>
            </div>
            <button id="color-toggle" style="margin-top: auto;margin-bottom: auto;" class="btn btn-sm btn-outline-secondary">bored?</button>
    </div>
  </div>
</nav>