{% extends 'base.html' %}
{% load static %}
{% block title %}Pewe's Story - Books{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container" style="margin-top: 1rem;">
    <div class="row">
        <label for="search-bar"><h3>Search your favorite books!</h3></label>
        <input type="text" class="form-control" name="query" id="search-bar" placeholder="Input book name, ex: Sapiens">
        <button style="margin-top: 0.5em;" class="btn btn-outline-primary" id="search-button" type="submit">Search</button>
    </div>
    <br>
    <div class="row">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target=".bd-example-modal-lg">
            5 Most Liked Books
            </button>
        
            <!-- Modal -->
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 style="color: black;" class="modal-title" id="exampleModalLongTitle">Top Books</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="modal-table" style="color: black;">
                    <table class="table">
                        
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
    </div>
    <br>
    <div class="row">
        {% csrf_token %}
        <div id="response">

        </div>
    </div>
    </div>
{% block script %}

{% endblock %}
{% endblock %}