.pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    width: 20%
}

.container {
    position: relative;
    
}
.acc-head {
    position: relative;
    width: 100%;
}
.acc-head > button {
    display: block;
    color: rgb(0, 0, 0);
    background-color: #e4e4e4;
    height: 40px;
    width: 100%;

}
.acc-head > button.dark-acc {
    color: #ffffff;
    background-color: #29434e;
}
.acc-head > button.active {
    background-color: rgb(148, 76, 216);
    color: #ffffff;
}
.acc-head > button.dark-acc.active {
    background-color: #009688;
    color: #ffffff;
}
.acc-head > button i {
    position: relative;
    float: left;
}
.acc-head > button.active i {
    color: #ffffff;
}
.acc-head > .btn-group {
    position: relative;
    width: 100%;

}
.acc-head > .btn-group > a.btn {
    background-color: #ffffff;
}
.content {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: none;
    overflow: hidden;
}
.content p {
    padding: 10px 15px;
    margin: 0;
    color: #333333;
}
.content ul li {
    color: #333333;
}